{% extends "base.html" %}

{% block head_title %}About{% endblock %}

{% block content %}

<div class="wrapper">
    <div id="about">
        <div class="title">
            <h1 id="header">Welcome</h1>
        </div>
        <p>
            In a way, my website is meant to be a representation of my brain in the sense of left-brained being more
            analytical as well as my right-brained creativity.
        </p>
        <p>
            I feel that throughout my time I have heard the ever on going conversation of whether you're more
            right-brained or left-brained? Why must a person be bound to such a classification? Of course there will be
            people that lean one way or the other a bit more extreme, but for many I think we have a mixture of both.
        </p>
        <p>If you're here to take a look at what I enjoy when it comes to technology, innovation, and my interests in
            tomorrow, then head on over to my Reeson Tech blog.</p>
        <p>If you're here to see how I spend my time away from my desk, such as adventures, photography, and health,
            then head over to the Reeson Studio.</p>
        </p>
        <p>Glad to have yah here, let's all see what we can create in this life.</p>
    </div>
    <div id="about-pic">
        <img src="../static/images/IMG_9646.jpg" alt="Reeson Tech profile picture">
    </div>
</div>

{% endblock %}