{% extends "basestudio.html" %}

{% block head_title %}About Us{% endblock %}

{% block content %}

<div class="wrapper">
    <div id="about-studio">
        <div class="title">
            <h1 id="about-header">About Reeson Studio</h1>
        </div>
        <p>Welcome to the Reeson Studio side of my blog, an area that is meant to both express and create a sense of
            creativity.</p>
        <p>
            Reeson Studio is meant to express all that is the creative side of my life. That can bring quite a bit of
            variety, but you will find topics on traveling, photography, DIY projects, and eventually a section on my
            passion for cars & mechanics.
        </p>
        <p>
            You'll also see that I've got my gallery as a part of Reeson Studio. Photography has been an outlet for me
            to get out an explore with a different objective and perspective on the environment. There is always more to
            see and a new viewpoint to look at, now it's just a matter of capturing that moment.</p>
        <p>Drop a follow to stay up to date! </p>
        <p>Email list coming soon, no spam in this house.</p>
    </div>
    <div id="about-studio-pic">
        <img src="../static/images/frosty-range.jpg" alt="Reeson Studio profile picture">
    </div>
</div>

{% endblock %}