<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #7d7d7d">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="home-navbutton" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tech-navbutton" href="/reesontech">Tech</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="studio-navbutton" href="/reesonstudio">Studio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="about-navbutton" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-navbutton" href="/contact">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search/">
            <input class="form-control mr-sm-2" type="search" name='q' placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>