{% extends "base.html" %}
{% block head_title %}Andrew P. Reeson{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="column1">
        <img src="../static/images/1120.jpg" alt="Reeson Studio background picture">
        <a href="/reesontech" class="btn" id="tech-button">REESON TECH</a>
    </div>
    <div class="column2">
        <img src="../static/images/Colorado.jpg" alt="Reeson Tech background pictures">
        <a href="/reesonstudio" class="btn" id="studio-button">REESON STUDIO</a>
    </div>
</div>
{% endblock %}