.wrapper {  
	overflow:hidden;
}

.container-fluid{
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 3%;
	padding-bottom: 3%;
	}

#button-container-rs {
	background-image: url('../../static/images/clouds.png');
	background-size: cover;
	float:left; 
	width: 50%;
	height: auto;
	}
#button-container-rt { 
	background-image: url('../images/moon.png');
	background-size: cover;
	overflow:hidden;
	height: auto;
	}


	
#studio-button{
	margin-top: 50%;
	margin-bottom: 50%;
	margin-left: 35%;
	margin-right: 35%;
    font-size: 18px;
	background-color: #DAC500;
	}

#tech-button{
	margin-top: 50%;
	margin-bottom: 50%;
	margin-left: 43%;
    margin-right: 35%;
    font-size: 18px;
	background: #595959;
	color: #86E971;
	}



.footer{
	background-color: #f9f9f9;
	}

.footer-list{
	padding-inline-start: 0px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin: 0px;
    text-align: center;
	}

.footer-item{
    display: inline;
    text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	}

.footer-link{
    color: #737373;
    text-decoration: none;
	}
	
.footer-link:hover{
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 600px) {
    #button-container-rs, #button-container-rt {
	width: 100% !important;
	}
	.container-fluid{
		padding-left: 5%;
		padding-right: 5%;
	}


}



/*@media screen and (max-width: 400px) {
#one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
	}
#studio-button{
	margin-top: 50%;
	margin-bottom: 50%;
	margin-left: 35%;
	margin-right: 35%;
	background-color: #73BCBC;
	}
#tech-button{
	margin-top: 50%;
	margin-bottom: 50%;
	margin-left: 35%;
    margin-right: 35%;
	background: black;
	color: #2dba2d;;
	}
}
*/